@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "Anasayfa";
}

<div class="w3l-homeblock1 py-5">
    <div class="container pt-lg-5 pt-md-4">
        <!-- block -->
        <div class="item">
            <h3 class="section-title-left">Öne çıkan yazılar</h3>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="list-view list-view1">
                        <div class="grids5-info">
                            <a href="#blog-single" class="d-block zoom">
                                <img src="~/assets/images/4.jpg" alt=""
                                     class="img-fluid radius-image news-image">
                            </a>
                            <div class="blog-info align-self">
                                <a href="#blog-single" class="blog-desc1">
                                    Edit/proofread your post, and fix your
                                    formatting.
                                </a>
                                <div class="author align-items-center mt-3 mb-1">
                                    <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                                </div>
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> April 13, 2020 </span>
                                    </li>
                                    <li class="meta-item blog-students">
                                        <span class="meta-value"> 6min read</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="grids5-info mt-5">
                            <a href="#blog-single" class="d-block zoom">
                                <img src="~/assets/images/5.jpg" alt=""
                                     class="img-fluid radius-image news-image">
                            </a>
                            <div class="blog-info align-self">
                                <a href="#blog-single" class="blog-desc1">
                                    The Beginner's Guide to Starting a
                                    Successful Blog in 2020
                                </a>
                                <div class="author align-items-center mt-3 mb-1">
                                    <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                                </div>
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> April 13, 2020 </span>
                                    </li>
                                    <li class="meta-item blog-students">
                                        <span class="meta-value"> 6min read</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="list-view list-view1">
                        <div class="grids5-info">
                            <a href="#blog-single" class="d-block zoom">
                                <img src="~/assets/images/6.jpg" alt=""
                                     class="img-fluid radius-image news-image">
                            </a>
                            <div class="blog-info align-self">
                                <a href="#blog-single" class="blog-desc1">
                                    Home to Organize your content in an
                                    outline.
                                </a>
                                <div class="author align-items-center mt-3 mb-1">
                                    <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                                </div>
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> April 13, 2020 </span>
                                    </li>
                                    <li class="meta-item blog-students">
                                        <span class="meta-value"> 6min read</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="grids5-info mt-5">
                            <a href="#blog-single" class="d-block zoom">
                                <img src="~/assets/images/7.jpg" alt=""
                                     class="img-fluid radius-image news-image">
                            </a>
                            <div class="blog-info align-self">
                                <a href="#blog-single" class="blog-desc1">
                                    10 Fresh Ways to Get Better Results From
                                    Your Blog Posts
                                </a>
                                <div class="author align-items-center mt-3 mb-1">
                                    <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                                </div>
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> April 13, 2020 </span>
                                    </li>
                                    <li class="meta-item blog-students">
                                        <span class="meta-value"> 6min read</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //block-->
        <!-- block -->
        <div class="row mt-5 pt-5">
            <div class="col-lg-9 most-recent">
                <h3 class="section-title-left">Son yazılar</h3>
                <div class="list-view ">
                    @if (Model.Count <= 0)
                    {
                        @Html.Raw("Henüz İçerik Girilmedi!");
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="grids5-info img-block-mobile mb-5">
                                <div class="blog-info align-self">
                                    <span class="category">@item.Category.CategoryName</span>
                                    <a href="/Blog/BlogDetails/@item.BlogID" class="blog-desc mt-0">
                                        @item.BlogTitle
                                    </a>
                                    <p>
                                        @item.BlogContent.Substring(0,item.BlogContent.Substring(0,130).LastIndexOf(" "))...
                                    </p>
                                    <div class="author align-items-center mt-3 mb-1">
                                        <a href="#author">Johnson smith</a>
                                    </div>
                                    <ul class="blog-meta">
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> @(((DateTime)item.BlogCreateDate).ToString("dd.MM.yyyy")) </span>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#blog-single" class="d-block zoom mt-md-0 mt-3">
                                    <img src="@item.BlogImage" alt="@item.BlogTitle" class="img-fluid radius-image news-image">
                                </a>
                            </div>
                        }
                    }

                </div>
                <!-- pagination -->
                <div class="pagination-wrapper mt-5">
                    <ul class="page-pagination">
                        <li><span aria-current="page" class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="#url">2</a></li>
                        <li><a class="page-numbers" href="#url">3</a></li>
                        <li><a class="page-numbers" href="#url">4</a></li>
                        <li><a class="page-numbers" href="#url">....</a></li>
                        <li><a class="page-numbers" href="#url">15</a></li>
                        <li><a class="next" href="#url"><span class="fa fa-angle-right"></span></a></li>
                    </ul>
                </div>
                <!-- //pagination -->
            </div>
            <div class="col-lg-3 trending mt-lg-0 mt-5 mb-lg-5">
                <div class="pos-sticky">
                    <h3 class="section-title-left">Trending </h3>

                    <div class="grids5-info">
                        <h4>01.</h4>
                        <div class="blog-info">
                            <a href="#blog-single" class="blog-desc1">
                                10 Fresh Ways to Get Better Results From Your
                                Blog Posts
                            </a>
                            <div class="author align-items-center mt-2 mb-1">
                                <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                            </div>
                            <ul class="blog-meta">
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> April 13, 2020 </span>
                                </li>
                                <li class="meta-item blog-students">
                                    <span class="meta-value"> 6min read</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grids5-info">
                        <h4>02.</h4>
                        <div class="blog-info">
                            <a href="#blog-single" class="blog-desc1">
                                How to Optimize for on-page SEO.
                            </a>
                            <div class="author align-items-center mt-2 mb-1">
                                <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                            </div>
                            <ul class="blog-meta">
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> April 13, 2020 </span>
                                </li>
                                <li class="meta-item blog-students">
                                    <span class="meta-value"> 6min read</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grids5-info">
                        <h4>03.</h4>
                        <div class="blog-info">
                            <a href="#blog-single" class="blog-desc1">
                                What to Post on the Instagram
                            </a>
                            <div class="author align-items-center mt-2 mb-1">
                                <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                            </div>
                            <ul class="blog-meta">
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> April 13, 2020 </span>
                                </li>
                                <li class="meta-item blog-students">
                                    <span class="meta-value"> 6min read</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grids5-info">
                        <h4>04.</h4>
                        <div class="blog-info">
                            <a href="#blog-single" class="blog-desc1">
                                18 Photo & Video Ideas to Spark Inspiration
                            </a>
                            <div class="author align-items-center mt-3 mb-1">
                                <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                            </div>
                            <ul class="blog-meta">
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> April 13, 2020 </span>
                                </li>
                                <li class="meta-item blog-students">
                                    <span class="meta-value"> 6min read</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //block-->


    </div>
</div>
